<%= turbo_stream_from comment %>
<%=turbo_frame_tag comment do %>
<div class="=flex bg-white-800  w-9/12 shadow-md dark:bg-dm-2 dark:shadow-none duration-500 my-3 py-3 px-4 border-b-2  border-gray-200">
    <div class="flex items-center justify-between">
        <div class="flex items-center gap-3 ">
        <strong class="text-xs dark:text-gray-300"><%= link_to comment.user.full_name, comment.user %></strong>
        </div>
        <p class="text-xs text-gray-800 dark:text-gray-300 justify-self-end"><%= time_ago_in_words(comment.created_at) %> ago</p>
    </div>
        <div class="flex items-end flex-gap-3">
            <%= comment.body %>
        </div>
    <div class="text-xs items-center gap-3 ">

        <p class=" items-center mt-3 ">
            <div class="">
                <div class="flex items-center gap-3 ">
                    <%= link_to "Edit",  edit_comment_path(comment), class: "mr-2" %>
                    <%= button_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %> 
                </div>
            </div>
        </p>
    </div>
</div>
<%end%>


