<div class=" mt-2"> 

  <%# save & share button %>
  <div class="flex justify-end     " >

      <div class="flex ml-4 hover ">
      <% if current_user == @recipe.user %> 
        <%= link_to "Edit", edit_recipe_path(@recipe), class: "hover:text-gray-600 text-gray-400  "%>
      <% end %>
      </div>
    </div>
  </div>

  <%# recipe name %>
  <div class="flex flex-col mb-10  " >
    <div class="flex font-bold text-4xl  font-sanchez">
      <%= @recipe.name %>
    </div>
    <div class="flex text-sm ml-1 text-gray-400 gap-1 "> Created by: <%= link_to @recipe.user.full_name, user_path(@recipe.user)  %> </div>
  </div>

  <%# image and ingredients  %>
  <div class='  gap-1  '>

    <div class="flex justify-center pr-1">
        <%= image_tag(@recipe.image.variant(resize_to_limit: [800, 800])) if @recipe.image.attached? %>   
    </div>
    <div class="flex  flex-col justify-center mb-20  gap-2 pl-2  w-11/12 ">
      <div class="flex  border-4 md:border-dotted border-amber-500 bg-orange-100   rounded-2xl shadow-md p-10 m-5 ">
        <div class="flex flex-col font-bold text-black-800 0 my-3 break-words">
          <div class="flex font-sanchez text-center p-1">
            <strong> <%= @recipe.name %> Ingredient List </strong>
          </div>
          <ul class="text-l font-normal text-black-400 my-3 break-words list-disc m-3 py-2 px-4">
            <% @recipe.ingredients.each do |ingredient| %>
              <li class=" font-extrabold  text-green-500 "> 
                <div class="text-black font-normal ">
                  <%= ingredient.description  %>
                  <%= ingredient.quantity %>
                  <%= ingredient.measurement %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <%# add to  shopping list  %>
      <div>
      <%= form_tag(add_to_shopping_list_recipe_path(@recipe), method: :post) do %>
        <%if user_signed_in? %> 
        <div class="ml-10">
          <div>
            <%= label_tag 'shopping_list_id', 'Select or Add new Shopping List', class:" font-sanchez" %>
            <%= select_tag 'recipe[shopping_list_id]', options_for_select(@user_shopping_lists.map { |list| [list.name, list.id] }), include_blank: 'Select a shopping list' %>
            <%= text_field_tag 'recipe[new_shopping_list]', nil, placeholder: 'Add new shopping list' %>
          </div>
          
          <%= submit_tag 'Add to Shopping List', class: "bg-orange-400 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded shadow focus:outline-none focus:ring focus:ring-indigo-500 focus:ring-opacity-50 " %>
        </div>
        <% else %>
          <div class="flex justify-center">

          </div>
        <% end %>
      <% end %>

      </div>
    </div>
  </div>

  <%# instructions %>  
  <div class="flex flex-col justify-evenly gap-2 mt-4 p-4  w-11/12  "> 
    <div class=" flex font-bold text-2xl mb-2 font-sanchez justify-left  text-gray-600 ">
      <strong > How to Make <%= @recipe.name %> </strong>
    </div>
    <div class=" flex justify-left text-xl   font-comic-neue text-black ">
          <%= @recipe.content %>
    </div>
  </div>

  <%# initial comment form %>
  <div class="justify-left ml-4 ">
        <h4 class="text-gray-600 font-bold my-3 break-words">
        Comments 
      </h4>
    <div class="bg-gray-100 max-h-fit w-9/12 overflow-y-auto bg-white-800  shadow-md dark:bg-dm-2 dark:shadow-none rounded-[6px] duration-500 my-3 py-3 px-4 border border-gray-100 dark:border-gray-700">

      <% if user_signed_in? %>
        <div class="text-gray-600">
          <%= render partial: "comments/form", locals: { comment: Comment.new, commentable: @recipe } %>
        </div>
      <% else %>
        <p class="text-gray-400 font-bold text-center dark:text-gray-400 my-3 break-words">
          <%= link_to "Log In", new_user_session_path %> to comment 
        </p>
      <% end %>
    </div>

  </div>
      <%=turbo_stream_from @recipe, :comments%>
    <%= tag.div id: "#{dom_id(@recipe)}_comments" do %>
      <%= render partial: "comments/comment_with_replies", collection: @recipe.comments.where(parent_id: nil), as: :comment%>
    <% end %>
</div>









