<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">



  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <div >
        <svg class="mx-auto h-10 w-auto" xmlns="http://www.w3.org/2000/svg" viewBox="1.4169999999999998 8.164 29.166000000000004 15.671999999999999">
          <path d="M23.184 8.164c-1.294 0-2.366 2.826-2.573 6.531h-9.22c-0.208-3.705-1.279-6.531-2.574-6.531H7.538C8.809 9.513 9.47 12.768 9.47 16c0 3.231-0.661 6.486-1.932 7.836h1.279c1.294 0 2.366-2.826 2.573-6.53h9.221c0.208 3.704 1.279 6.53 2.573 6.53 1.442 0 2.611-3.509 2.611-7.836C25.795 11.672 24.626 8.164 23.184 8.164zM28.407 9.47h-1.17c-0.413-0.824-0.909-1.306-1.442-1.306h-1.279c1.271 1.349 1.933 4.604 1.933 7.836 0 3.231-0.661 6.486-1.933 7.836h1.279c0.533 0 1.029-0.482 1.442-1.306h1.17c1.201 0 2.176-2.924 2.176-6.53S29.608 9.47 28.407 9.47zM3.593 9.47c-1.201 0-2.176 2.924-2.176 6.53s0.975 6.53 2.176 6.53c1.203 0 2.177-2.924 2.177-6.53S4.795 9.47 3.593 9.47zM3.593 17.306c-0.361 0-0.653-0.584-0.653-1.306 0-0.721 0.292-1.306 0.653-1.306S4.246 15.279 4.246 16C4.246 16.722 3.954 17.306 3.593 17.306zM6.205 8.164c-0.517 0-0.998 0.459-1.402 1.238 1.104 1.179 1.62 3.962 1.62 6.598 0 2.637-0.515 5.419-1.62 6.598 0.404 0.778 0.885 1.238 1.402 1.238 1.442 0 2.612-3.509 2.612-7.836C8.817 11.672 7.647 8.164 6.205 8.164z" fill="currentColor"></path>
        </svg>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  </div>


  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action="#" method="POST">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      <div>
        <%=f.label "Email address", class: label_class %>
        <div class="mt-2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: input_class %>
        </div>
      </div>

      <div class="mt-2">
        <%= f.label :password, class: label_class %>
        <div class="mt-3">
          <%= f.password_field :password, autocomplete: "current-password", class: input_class %>
        </div>
      </div>

      <div class="flex items-center justify-between mb-6 mt-2 text-sm">
        <% if devise_mapping.rememberable? %>
          <div class="flex items-center">
            <%= f.check_box :remember_me, class: "h-4 w-4 rounded border-gray-300 text-orange-600 focus:ring-orange-500" %>
            <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
          </div>
        <% end %>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <div class="text-sm">
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "font-medium text-orange-600 hover:text-indigo-500" %>
          </div>
        <% end %>
      </div>

      <div>
          <%= f.submit "Sign in", class: form_button_class %>
      </div>
    </form>

    <div class="mt-2">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
        <%= form_for "Login",
          url:omniauth_authorize_path(resource_name, provider),
          method: :post,
          data: { turbo: "false" } do |f|%>
          <%= f.submit "Login", type: "image", src: url_for("/assets/btn_google_signin_light_normal_web.png") %>
        <% end %>      
      <% end %>
    </div>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name), class:"font-semibold leading-6 text-orange-600 hover:text-indigo-500" %>
      <% end %>
    </p>
  </div>
</div>
<% end %>
<% end %>



